.header {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .header .header__logo {
    width: 1200px; }

.giphy {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1200px; }
  .giphy .search {
    display: flex;
    flex-direction: row; }
  .giphy input[type=text], .giphy select {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #8d11ac;
    box-sizing: border-box; }
  .giphy button[type=submit] {
    width: 4%;
    background-color: #8d11ac;
    color: white;
    padding: 14px 14px;
    margin: 8px 0;
    border: none;
    cursor: pointer; }
  .giphy button[type=submit]:hover {
    background-color: #45a049; }

.footer {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh; }
